*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}
body{
font-family: 'PT Sans', sans-serif;
}
/* =============================================== */
nav{
padding-top: 20px;
background: rgba(6, 7, 7, 0.85);
mix-blend-mode: normal;
backdrop-filter: blur(75px);
}   
.logoPhotoCard{
    margin: 10px;
}
.logo{
display: flex;
align-items: center;
justify-content: space-around;
}
.list_a{
text-decoration: none;
font-weight: 400;
font-size: 18px;
color: #939393;
}
.list{
    margin-top: 10px;
    margin-left: -250px;
}
.list_a:hover{
color: darkkhaki;
}
.teleCard{
display: flex;
align-items: center;
}
.logoNumber{
margin-top: 10px;
margin-left: 10px;
}
.number_a{
 font-weight: 400;
font-size: 16px;
color: #999999;
text-decoration: none;
}
.bigCard{
display: flex;
align-items: center;
}
.searchCard{
margin-left: 20px;
}
.number_a:hover{
    color: darkkhaki;
}
/* =============================================== */
.santex{
    font-family: 'Orenburg';
font-size: 60px;
font-weight: 400;
color: #FFFFFF;
}
.kran{
    padding-top: 100px;
}
.kompaniCard{
    display: flex;
    align-items: center;
}
.kompani{
    margin-top: 15px;
    margin-left: 10px;
}
.kompani_a{
    text-decoration: none;
font-weight: 400;
font-size: 20px;
color: #BEBEBE;
}
.kompani_a:hover{
    color: darkkhaki;
}
.night{
    padding-top: 120px;
    padding-bottom: 30px;
}
.vanna{
    /* position: relative;
    top: 60px; */
    margin-top: 60px;
}
/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */

/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */
/* =============================================== */